@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;

  padding: 3rem;
  overflow: visible;

  background-color: #ededed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.background-primary {
  background-color: #fff;
}

.border-radius {
  border-radius: 1.4rem;
  overflow: hidden;
}

.container-padding {
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 3rem;
}

/* Form */
input,
textarea {
  display: block;
  padding: 0.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
}

.form-control > * {
  margin-bottom: 1.4rem;
}

.form-control > .form-heading > h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.form-control > .form-button {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border: none;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #5e71ff;
  color: #fff;

  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.form-control > .form-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* list of comment */

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  overflow: visible;
}

.list-container > .list-heading {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* comment */

.card-comment {
  background-color: #4b45ff;
  color: #fff;

  padding: 0.8rem;
  border-radius: 0.5rem;

  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

.card-comment:hover {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.card-comment > .card-content > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.card-comment > .card-content > span {
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card-comment > .card-content > p {
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 1.2rem;
}

.card-comment > .card-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.card-comment > .card-button > button {
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
}

.card-comment > .card-button > .edit {
  background-color: #78ffa3;
  color: rgba(0, 0, 0, 0.9);
}

.card-comment > .card-button > .delete {
  background-color: #ff6969;
  color: #fff;
}

.card-comment > .card-button > button:hover {
  cursor: pointer;
}

/* edit */

.edit-background {
  background-color: #75ff6e;
}

.edit-button {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #fff;
}
